<div class="container">
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Ordem</th>
            <th scope="col">Titulo</th>
            <th scope="col">Descricao</th>
            <th scope="col">Data</th>
            <th scope="col">Hora</th>
            <th scope="col">local</th>
            <th scope="col">Alterar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let agenda of VerAgenda">
            <th scope="row">{{agenda.id}}</th>
            <th scope="row">{{agenda.titulo}}</th>
            <th scope="row">{{agenda.descricao}}</th>
            <th scope="row">{{agenda.data}}</th>
            <th scope="row">{{agenda.hora}}</th>
            <th scope="row">{{agenda.local}}</th>
            <th scope="row"><button type="button" class="btn btn-primary" (click)="goToUpdate(agenda.id)">Alterar</button></th>
          </tr>
        </tbody>
      </table>
</div>

