<div class="container">
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Ordem</th>
            <th scope="col">Titulo</th>
            <th scope="col">Descricao</th>
            <th scope="col">Data</th>
            <th scope="col">Hora</th>
            <th scope="col">Escritório</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"></th>
            <th scope="row"></th>
            <th scope="row"></th>
            <th scope="row"></th>
            <th scope="row"></th>
            <th scope="row"></th>
          </tr>
        </tbody>
      </table>
</div>

